.hero{
   min-height: 90vh;
    width: 100vw;
    padding-top: 3rem;
    padding-bottom: 3rem;
background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);

}
.hero_img{
    width: 80%;
    height: 100%;
}
.hero h1{
    font-size:380% ;
}